In [4]:
import os
import sqlite3

def init_data(): #Инициализация данных - создание БД, очистка таблицы и заполнение стартовым набором данных
    try:
        db_filename = 'people.db'
        conn = sqlite3.connect(db_filename)
        cur = conn.cursor()
        cur.execute("DROP TABLE IF EXISTS people")
        cur.execute("""CREATE TABLE people(
                    id integer primary key autoincrement not null,
                    fname text,
                    lname text,
                    age integer);""")
        people_init = [('Иван', 'Иванов',  '19'),
                        ('Пётр', 'Сидоров',  '27'),
                        ('Николай', 'Зайцев',  '77'),
                        ('Ирина', 'Сивко',  '50'),
                        ('Злата', 'Егорова',  '31'),
                        ('Илья', 'Голубцов',  '17'),
                        ('Сергей', 'Слепов',  '37'),
                        ('Степан', 'Семёнов',  '45'),
                        ('Ангелина', 'Кравцова',  '29'),
                        ('Павел', 'Иванов',  '33'),
                        ('Сергей', 'Есенин',  '49'),
                        ('Анна', 'Петрова',  '47'),
                        ('Наталья', 'Станкова',  '39'),
                        ('Диниил', 'Копин',  '35'),
                        ('Алексей', 'Пролетарский',  '27')]
        cur.executemany("INSERT INTO people(fname, lname, age) VALUES( ?, ?, ?);", people_init)
        conn.commit()
        #cur.execute("SELECT * FROM people")
        #for row in cur.fetchall():
        #    print(row)
        conn.close()
        return True
    except Exception:
        return False




####################################
init_data()

True