In [1]:
# datetime

In [20]:
import datetime

t = datetime.time(1, 2, 3)
print(t)
print(f'Часы: {t.hour}')
print(f'Минуты: {t.minute}')
print(f'Секунды: {t.second}')
print(f'Микросекунды: {t.microsecond}')
print(f'Временная зона: {t.tzinfo}')

01:02:03
Часы: 1
Минуты: 2
Секунды: 3
Микросекунды: 0
Временная зона: None

In [11]:
print(f'Самое раннее: {datetime.time.min}')
print(f'Самое позднее: {datetime.time.max}')
print(f'Разрешающая способность: {datetime.time.resolution}')

Самое раннее: 00:00:00
Самое позднее: 23:59:59.999999
Разрешающая способность: 0:00:00.000001

In [17]:
today = datetime.date.today()
print(today)
print(today.year)
td = today.timetuple()
print(td)
print(td.tm_year)

2023-11-20
2023
time.struct_time(tm_year=2023, tm_mon=11, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=324, tm_isdst=-1)
2023

In [18]:
print(f'Самое раннее: {datetime.date.min}')
print(f'Самое позднее: {datetime.date.max}')
print(f'Разрешающая способность: {datetime.date.resolution}')

Самое раннее: 0001-01-01
Самое позднее: 9999-12-31
Разрешающая способность: 1 day, 0:00:00

In [19]:
d1 = datetime.date(2023, 11, 20)
print('d1:', d1.ctime())
d2 = d1.replace(year=2023)
print('d2:', d2.ctime())

d1: Mon Nov 20 00:00:00 2023
d2: Mon Nov 20 00:00:00 2023

In [22]:
print('Микросекунды:', datetime.timedelta(microseconds=1))
print('Миллисекунды:', datetime.timedelta(milliseconds=1))
print('Секунды:', datetime.timedelta(seconds=1))
print('Минуты:', datetime.timedelta(minutes=1))
print('Часы:', datetime.timedelta(hours=1))
print('Дни:', datetime.timedelta(days=1))
print('Недели:', datetime.timedelta(weeks=1))

Микросекунды: 0:00:00.000001
Миллисекунды: 0:00:00.001000
Секунды: 0:00:01
Минуты: 0:01:00
Часы: 1:00:00
Дни: 1 day, 0:00:00
Недели: 7 days, 0:00:00

In [24]:
today = datetime.date.today()
print('Сегодня:', today)
one_day = datetime.timedelta(days=1)
print('1 день:', one_day)
yesterday = today - one_day
print('Вчера:', yesterday)
tomorrow = today + one_day
print('Завтра:', tomorrow)
print()
print(tomorrow - yesterday)
print(yesterday - tomorrow)

Сегодня: 2023-11-20
1 день: 1 day, 0:00:00
Вчера: 2023-11-19
Завтра: 2023-11-21

2 days, 0:00:00
-2 days, 0:00:00

In [26]:
print('Время:')
tl = datetime.time(12, 55, 0)
print(' tl:', tl)
t2 = datetime.time(13, 5, 0)
print('t2:', t2)
print('tl < t2:', tl < t2)
print
print('Даты: ')
dl = datetime.date.today()
print('dl:', dl)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print('d2:', d2)
print('dl > d2:', dl > d2)

Время:
 tl: 12:55:00
t2: 13:05:00
tl < t2: True
Даты:
dl: 2023-11-20
d2: 2023-11-21
dl > d2: False

In [31]:
print('Сейчас :', datetime.datetime.now())
print('Сейчас :', datetime.datetime.today())
print('Сейчас UTC:', datetime.datetime.utcnow())
print
FIELDS = [
'year', 'month', 'day',
'hour', 'minute', 'second',
'microsecond',
]
d = datetime.datetime.now()
for attr in FIELDS:
    print('{:12}: {}'.format(attr, getattr(d, attr)))

Сейчас : 2023-11-20 15:13:37.981330
Сейчас : 2023-11-20 15:13:37.981330
Сейчас UTC: 2023-11-20 12:13:37.981330
year        : 2023
month       : 11
day         : 20
hour        : 15
minute      : 13
second      : 37
microsecond : 981330

In [32]:
import random
random_number = random.random()
print(random_number)

random_integer = random.randint(1, 10)
print(random_integer)

random_number = random.randrange(0, 10, 2)
print(random_number)

fruits = ["яблоко", "банан", "вишня", "апельсин"]
random_fruit = random.choice(fruits)
print(random_fruit)


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
random_sample = random.sample(numbers, 3)
print(random_sample)

numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

0.4919369552644436
10
8
банан
[7, 5, 2]
[3, 5, 1, 4, 2]

In [35]:
from pprint import pprint

x = {
"name": "Viktor",
"age": 30,
"married": True,
"divorced": False,
"children": ("Anna","Bogdan"),
"pets": None,
"cars": [
{"model": "BMW 230", "mpg":  27.5},
{"model": "Ford Edge", "mpg": 24.1}  
]
}
print(x)

{'name': 'Viktor', 'age': 30, 'married': True, 'divorced': False, 'children': ('Anna', 'Bogdan'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}

In [37]:
pprint(x, depth=1)

{'age': 30,
 'cars': [...],
 'children': (...),
 'divorced': False,
 'married': True,
 'name': 'Viktor',
 'pets': None}

In [40]:
from pprint import pformat

formatted_x = pformat(x)
print(type(formatted_x))
print(formatted_x)

<class 'str'>
{'age': 30,
 'cars': [{'model': 'BMW 230', 'mpg': 27.5},
          {'model': 'Ford Edge', 'mpg': 24.1}],
 'children': ('Anna', 'Bogdan'),
 'divorced': False,
 'married': True,
 'name': 'Viktor',
 'pets': None}

In [41]:
pprint(x, sort_dicts=False)

{'name': 'Viktor',
 'age': 30,
 'married': True,
 'divorced': False,
 'children': ('Anna', 'Bogdan'),
 'pets': None,
 'cars': [{'model': 'BMW 230', 'mpg': 27.5},
          {'model': 'Ford Edge', 'mpg': 24.1}]}

In [42]:
import math
 
n1 = math.pow(2, 3)
print(n1)

n2 = 2 ** 3
print(n2)
print(math.sqrt(9))
print(math.ceil(4.56))
print(math.floor(4.56))
print(math.degrees(3.14159))
print(math.radians(180))
print(math.cos(math.radians(60)))
print(math.sin(math.radians(90)))
print(math.tan(math.radians(0))) 
print(math.log(8,2))
print(math.log10(100))

8.0
8
3.0
5
4
179.9998479605043
3.141592653589793
0.5000000000000001
1.0
0.0
3.0
2.0

In [43]:
radius = 30
area = math.pi * math.pow(radius, 2)
print(area)
number = math.log(10, math.e)
print(number)

2827.4333882308138
2.302585092994046